@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0B0B0B;
  --fg: #FFFFFF;
}

html, body {
  background: var(--bg);
  color: var(--fg);
}

.shadow-elegant {
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}
